<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <ul class="nav navbar">
      <li routerLinkActive="active" class="nav-item nav-link">
        <a
          data-toggle="tab"
          routerLink="/appareils"
          role="tab"
          >Appareils</a
        >
      </li>
      <li routerLinkActive="active" class="nav-item nav-link">
        <a data-toggle="tab" routerLink="/auth" role="tab">Authentification</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
